name: Build

on:
  push:
    paths:
      - 'Dockerfile'

env:
  TEST_TAG: ${{ secrets.DOCKERHUB_USERNAME }}/otb:7.4.0test
  PROD_TAG: ${{ secrets.DOCKERHUB_USERNAME }}/otb:7.4.0
  BASE1: osgeo/gdal:ubuntu-small-3.1.3
  BASE2: osgeo/gdal:ubuntu-full-3.1.3

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and export to Docker
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: .
          load: true
          tags: ${{ env.TEST_TAG }}
      -
        name: Test
        run: |
          docker run --rm ${{ env.TEST_TAG }} otbcli_ReadImageInfo -in test.tif
      -
        name: Build and push small
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ env.PROD_TAG }}-small
          build-args: BASE=${{env.BASE1}}
      -
        name: Build and push full 
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ env.PROD_TAG }}-full
          build-args: BASE=${{env.BASE2}}
